html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Globaler Font für alles */
body, html, #game, #ui, #overlay, #overlayText, #overlayHighscore, #chicken, #swan, #apple {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* Bold */
}
#nameInput {
  font-size: 28px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-bottom: 20px;
}

#startBtn {
  font-size: 28px;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #7ec850; /* Wiese */
  overflow: hidden;
}

#fullscreenBtn {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 999;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#ui {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 100;
}
#ui-score {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  color: white;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.6);
}
#ui-level {
  position: absolute;
  top: 18px;
  right: 24px;
  font-size: 28px;
  color: white;
  opacity: 0.85;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}
#ui-timer {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Cutive Mono', monospace;
  font-size: 64px;
  color: white;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.6);
}

#overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9999; /* ÜBER ALLEM */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#overlayText {
  color: white;
  font-size: 64px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#chicken, #swan {
  position: absolute;
  z-index: 10;
}

.water {
  position: absolute;
  background: #3498db;
  border-radius: 50%;
  z-index: 2;
}

.sand {
  position: absolute;
  background: #e6d29e;
  border-radius: 50%;
  z-index: 1;
}

.tree-part {
  position: absolute;
  background: #0b5d1e;
  border-radius: 50%;
  z-index: 5;
}

.flower {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 1;
}
@keyframes goldPulse {
  from {
    transform: scale(1);
    filter: brightness(1.2);
  }
  to {
    transform: scale(1.15);
    filter: brightness(1.8);
  }
}
